html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fixed_button {
    position: fixed; /*задаём тип позиции, в нашем случае - фиксированная*/
    bottom: 10px; /* отступ сверху*/
    right: 20px; /* отступ слева*/
    z-index: 999; /*позиция относительно дальности*/
}
.clickable-row {
    cursor: pointer;
}